<!--
Jeroo is a programming language learning tool for students and teachers.
Copyright (C) <2019>  <Benjamin Konz>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<h1 mat-dialog-title><b>Warning!</b></h1>
<div mat-dialog-content>
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <div fxFlex="80">
      <p>Doing this will cause the board to reset and it will be lost permanently.</p>
      <p>Would you like to continue?</p>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button id="noWarningButton" mat-raised-button color="primary" (click)="onCloseClick()">No</button>
  <button id="yesWarningButton" type="submit" mat-raised-button (click)="onContinueClick()">Yes</button>
</div>
